---
import Layout from '@layouts/Layout.astro';
---

<Layout title="Bayz portfolio">
	<section id="hero" class="flex px-2 sm:px-[50px] md:px-[100px] text-center">
		<div class="py-10">
			<h1 class="text-lg sm:text-4xl md:text-6xl font-semibold mb-4">
				Développeur Web Freelance & Formateur.
			</h1>

			<p class="text-sm sm:text-base md:text-xl">
				Salus, je suis <span class="font-semibold">bayz225</span>. Ma passion pour le développement web m'a poussé à faire un changement radical de cursus. Depuis lors, j'exploité cette passion pour me perfectionner.
			</p>

			<ul class="flex space-x-4 justify-center mt-4">
				<li>
					<a class="" href="https://github.com/bayz225">
						<svg class="hover:text-blue-600 w-4 h-4 md:w-7 md:h-7 text-gray-800 sm:w-5 sm:h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
							<path fill-rule="evenodd" d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z" clip-rule="evenodd"/>
						</svg>
					</a>
				</li>
				<li>
					<a class="" href="https://www.linkedin.com/in/foufouet-basile-epiphane-aka-37348620a">
						<svg class="hover:text-blue-600 w-4 h-4 md:w-7 md:h-7 text-gray-800 sm:w-5 sm:h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 15 15">
							<path fill-rule="evenodd" d="M7.979 5v1.586a3.5 3.5 0 0 1 3.082-1.574C14.3 5.012 15 7.03 15 9.655V15h-3v-4.738c0-1.13-.229-2.584-1.995-2.584-1.713 0-2.005 1.23-2.005 2.5V15H5.009V5h2.97ZM3 2.487a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Z" clip-rule="evenodd"/>
							<path d="M3 5.012H0V15h3V5.012Z"/>
						</svg>
					</a>
				</li>
				<li>
					<a class="" href="https://twitter.com/BayzAka">
						<svg class="hover:text-blue-600 w-4 h-4 md:w-7 md:h-7 text-gray-800 sm:w-5 sm:h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
							<path fill="currentColor" d="M12.186 8.672 18.743.947h-2.927l-5.005 5.9-4.44-5.9H0l7.434 9.876-6.986 8.23h2.927l5.434-6.4 4.82 6.4H20L12.186 8.672Zm-2.267 2.671L8.544 9.515 3.2 2.42h2.2l4.312 5.719 1.375 1.828 5.731 7.613h-2.2l-4.699-6.237Z"/>
						</svg>
					</a>
				</li>
				<li>
					<a class="" href="mailto:akabayz34@gmail.com">
						<svg class="hover:text-blue-600 w-4 h-4 md:w-7 md:h-7 text-gray-800 sm:w-5 sm:h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 19">
							<path fill-rule="evenodd" d="M8.842 18.083a8.8 8.8 0 0 1-8.65-8.948 8.841 8.841 0 0 1 8.8-8.652h.153a8.464 8.464 0 0 1 5.7 2.257l-2.193 2.038A5.27 5.27 0 0 0 9.09 3.4a5.882 5.882 0 0 0-.2 11.76h.124a5.091 5.091 0 0 0 5.248-4.057L14.3 11H9V8h8.34c.066.543.095 1.09.088 1.636-.086 5.053-3.463 8.449-8.4 8.449l-.186-.002Z" clip-rule="evenodd"/>
						</svg>
					</a>
				</li>
			</ul>
		</div>
	</section>
	<main>
		<section id="competence">
			
		</section>
	</main>
</Layout>

<style>
	
</style>
