---
import NavDiv from "@components/NavDiv.astro";

const linkList: {label: string, href: string}[] = [
    {label: 'Acceuil', href: '/'},
    {label: 'Projects', href: '/projects/'},
    {label: 'A propos', href: '/about/'},
    {label: 'Contact', href: '/contact-me/'},
]
---

<nav class="border-gray-200 flex justify-center bg-gray-50">
    <NavDiv>
        <a href="/" class="font-semibold text-lg sm:text-2xl flex items-center">
            <svg class="w-5 h-4 text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 13 5.7-5.326a.909.909 0 0 0 0-1.348L1 1"/>
            </svg>
            <div>
                Bayz<span class="text-blue-600">.</span>
            </div>
        </a>
        <button data-collapse-toggle="navbar-dropdown" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200" aria-controls="navbar-dropdown" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
            </svg>
        </button>

        <div class="hidden w-full md:block md:w-auto" id="navbar-dropdown">
            <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 ">
                
                {
                    linkList.map(({label, href}) => (
                        <li>
                            <a 
                                aria-current={Astro.url.pathname === href}
                                class:list={[
                                "block py-2 px-3 text-gray-600 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-gray-800 md:p-0",
								{
									active:
										Astro.url.pathname === href ||
										(href !== '/' && Astro.url.pathname.startsWith(href)),
								},
							]}
                                href={href} class=
                                >
                                {label}
                            </a>
                        </li>
                    ))
                }
            </ul>
        </div>
    </NavDiv>
</nav>

<style>
    .active {
        --tw-text-opacity: 1;
        color: rgb(31 41 55 / var(--tw-text-opacity));
    }
</style>
