---
export interface Props {
    href: string;
    img?: string;
    entreprise?: string;
    title: string;
    category: string;
}

const {href, img, entreprise, title, category} = Astro.props;
---

<a href={href}>
    <img 
        class="w-full h-auto"
        src={
            img ? `/assets/${img}` : "/assets/stock-1.jpg"
        }
    >
    <div class="flex flex-col items-center py-4">
        <h4 class=" uppercase font-light text-xs md:text-sm mb-2">{title}</h4>
        <div class="text-xs md:text-sm">{entreprise ?? category}</div>
    </div>
</a>